{:balancers
 [{:name "main"
   :front {:bind ["tcp://0.0.0.0:6000"]}
   :back {:bind ["tcp://0.0.0.0:6001"]}}
  {:name "second"
   :front {:bind ["tcp://0.0.0.0:6002"]}
   :back {:bind ["tcp://0.0.0.0:6003"]}}]}
